.grid {
  display: grid;
  grid-template-columns: 8fr;
  grid-template-rows: 7fr;
  height: 400px;
  max-width: 700px;
  background: #f1f1f1;
  margin-right: auto;
  margin-left: auto;
}
.linkedin {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #3b81eb;
}
.behance {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #3b81eb;
  grid-column: 1fr;
  grid-row: 1 / -7;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 100px;
  color: #000000;
}
.container {
  max-width: 215px;
  height: 115px;
  background: #aa90f4;
  text-align: center;
  border-radius: 20px;
}
.bio {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}
.container-2 {
  max-width: 271px;
  height: 242px;
  background: #92f490;
  text-align: center;
  border-radius: 20px;
  position: relative;
  grid-column: 3;
}
img {
  border-radius: 30px;
}
